.section-features {
  // @include section($pt 94px, $pb 94px, $bgc);
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  // @include list($jc: null, $ai: null, $d: flex, $gap: 30px);
  display: flex;
  gap: 30px;
}

.features__icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-cl);
  margin-bottom: 30px;
}

.features__subtitles {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__text {
  color: var(--secondary-txt-cl);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 0;
}
