@mixin list($jc: null, $ai: null, $d: flex, $gap: 30px) {
  display: $d;
  gap: $gap;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}
@mixin item($q-gap, $gap, $q-item) {
  flex-basis: calc((100% - #{$q-gap} * #{$gap}) / #{$q-item});
}
@mixin section($pt, $pb, $bgc) {
  padding-top: $pt;
  padding-bottom: $pb;
  background-color: $bgc;
}
@mixin flex($d, $jc, $ai) {
  display: $d;
  justify-content: $jc;
  align-items: $ai;
}
@mixin font($ff, $fs, $fw, $lh, $ls, $fc) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  color: $fc;
}
